{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pensionapp.css' %}">
    {% endblock %}

    <div style="margin: 1rem;">
        <a href="{% url 'pensionapp:pension_list' %}" class="btn btn-light btn-sm">My Pensions</a>
    </div>

    <div style="margin: 2rem;">
        <div style="color: #FFFFFF;">
            {% include 'pensionapp/pension_list_detail.html' with pension=target_pension %}
        </div>

        <div style="display: block; height: 2rem;"></div>
    
        <div style="color:#FFFFFF;">
            <div style="display: inline-block; width: 40%;">
                {% include 'pensionapp/pensiontransaction_detail.html' with pension=target_pension %}
            </div>
            <div style="display: inline-block; border: 1px solid white; width: 50%;">
                Pension Asset Transaction Detail
            </div>
        </div>
    </div>

{% endblock %}