{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pensionapp.css' %}">
    {% endblock %}

    <div style="margin: 2rem;">
        <div style="width:100%;">
            <div style="display: inline-block;">
                <h3 class="pensionapp_main_title">Pension Summary</h3>
            </div>
            <div style="display: inline-block;">
                <a href="{% url 'pensionapp:pension_create' %}" class="btn btn-light btn-sm" style="margin: 3rem 0;" >Add Pension</a>
            </div>
        </div>

        <div>
            {% for pension in pension_list %}
                {% if pension.owner == user %}
                    <div style="color: #FFFFFF;">
                        {% include 'pensionapp/pension_list_detail.html' with pension=pension %}
                    </div>
                <div style="display: block; height: 2rem;"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}