{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pensionapp.css' %}">
    {% endblock %}

    <div style="margin: 2rem;">
        <div style="color: #FFFFFF;">
            {% include 'pensionapp/pension_list_detail.html' with pension=target_pension %}
        </div>

        <div style="display: block; height: 2rem;"></div>
    
        <div style="color:#FFFFFF;">
            <div style="display: inline-block; border: 1px solid white; width: 40%;">
                <h6>납입/수령</h6>
            </div>
            <div style="display: inline-block; border: 1px solid white; width: 50%;">
                <h6>ETF 거래내역</h6>
            </div>
        </div>
    </div>

{% endblock %}