{% load format_masks %}
{% load currency_format %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/equitytransactionapp.css' %}">
{% endblock %}

{% for transaction in transaction_list %}
    <tr>
        <td class="transaction_record_table_td_10p">{{ transaction.transaction_date|date:"Y-m-d h:i:s" }}</td>
        <td class="transaction_record_table_td_5p">{{ transaction.transaction_type }}</td>
        <td class="transaction_record_table_td_5p">{{ transaction.quantity }}</td>

        {% if transaction.equity_owned.equity.currency == 'USD' %}
            <td class="transaction_record_table_td_10p">{{ transaction.price|currency_usd }}</td>
            <td class="transaction_record_table_td_5p">{{ transaction.transaction_fee|currency_usd  }}</td>
            <td class="transaction_record_table_td_5p">{{ transaction.transaction_tax|currency_usd  }}</td>
        {% elif transaction.equity_owned.equity.currency == 'KRW' %}
            <td class="transaction_record_table_td_10p">{{ transaction.price|currency_krw }}</td>
            <td class="transaction_record_table_td_5p">{{ transaction.transaction_fee|currency_krw  }}</td>
            <td class="transaction_record_table_td_5p">{{ transaction.transaction_tax|currency_krw  }}</td>
        {% else %}
            <td class="transaction_record_table_td_10p">{{ transaction.price|floatformat:2|intcomma }}</td>
            <td class="transaction_record_table_td_5p">{{ transaction.transaction_fee|floatformat:2|intcomma  }}</td>
            <td class="transaction_record_table_td_5p">{{ transaction.transaction_tax|floatformat:2|intcomma  }}</td>
        {% endif %}

        {% if transaction.note %}
            <td class="transaction_record_table_node_td">{{ transaction.note }}</td>
        {% else %}
            <td class="transaction_record_table_node_td"></td>
        {% endif %}

        {% if user_id == user.pk %}
            <td class="transaction_record_table_delete_td">
                <a href="{% url 'equitytransactionapp:delete' pk=transaction.id %}"
                   style="color: #FA0067;text-decoration: none;">X</a>
            </td>
        {% else %}
            <td class="transaction_record_table_delete_td"></td>
        {% endif %}
    </tr>
{% endfor %}
