{% load format_masks %}
{% load currency_format %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/equitytransactionapp.css' %}">
{% endblock %}

{% for transaction in transaction_list %}
        <tr>
            <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.transaction_date|date:"Y-m-d h:i:s" }}</td>
            <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.transaction_type }}</td>
            <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.quantity }}</td>

            {% if target_currency == 'USD' %}
                <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.price|currency_usd }}</td>
                <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.transaction_fee|currency_usd  }}</td>
                <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.transaction_tax|currency_usd  }}</td>
            {% elif target_currency == 'KRW' %}
                <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.price|currency_krw }}</td>
                <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.transaction_fee|currency_krw  }}</td>
                <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.transaction_tax|currency_krw  }}</td>
            {% else %}
                <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.price|floatformat:2|intcomma }}</td>
                <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.transaction_fee|floatformat:2|intcomma  }}</td>
                <td style="background-color: #264257; text-align: center; border: 1px solid black;">{{ transaction.transaction_tax|floatformat:2|intcomma  }}</td>
            {% endif %}

            {% if transaction.note %}
                <td style="background-color: #264257; text-align: start; border: 1px solid black;">{{ transaction.note }}</td>
            {% else %}
                <td style="background-color: #264257; text-align: start; border: 1px solid black;"></td>
            {% endif %}

            {% if user_id == user.pk %}
                <td style="background-color: #264257; text-align: center; border: 1px solid black;">
                    <a href="{% url 'equitytransactionapp:delete' pk=transaction.id %}"
                       style="color: #FA0067;text-decoration: none;">X</a>
                </td>
            {% else %}
                <td style="background-color: #264257; text-align: center; border: 1px solid black;"></td>
            {% endif %}
        </tr>
{% endfor %}
