{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/portfolioapp.css' %}">
    {% endblock %}

    <div style="margin: 1rem;">
        <div>
            <h1 class="portfolioapp_main_title">Hozy's Laboratory</h1>
        </div>

        <div>
            <div style="display: inline-block; width: 28%; margin: 1%;">
                <h5 style="color: #FFFFFF; margin: 1rem;">신한금융투자 엑셀 변환</h5>
            </div>

            <div style="display: inline-block; width: 28%; margin: 1%;">
                {% include 'hozylabapp/import_excel_daeshin.html'%}
            </div>

            <div style="display: inline-block; width: 28%; margin: 1%;">
                {% include 'hozylabapp/import_excel_hankook.html'%}
            </div>
        </div>
    </div>


{% endblock %}