{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/articleapp.css' %}">
    {% endblock %}

    <div style="max-width: 500px; margin: 4rem auto">
        <div style="margin: 2rem 0;">
            <h4 class="articleapp_main_title">Delete Article</h4>
            <h6 style="color: #FFFFFF;">Are you sure to delete your article?</h6>
        </div>
        <div class="text-white">
            <form action="{% url 'articleapp:delete' pk=target_article.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-dark">
                <a href="{% url 'articleapp:detail' pk=target_article.pk %}" class="btn btn-light">취소</a>
            </form>
        </div>
    </div>

{% endblock %}