{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/articleapp.css' %}">
    {% endblock %}

    <div style="width:100%; text-align: center;">
        <a href="{% url 'articleapp:create' %}" class="btn btn-light col-2" style="margin: 3rem 0;" >집필하기</a>
    </div>

    <div class="container">
        {% if article_list %}
            {% for article in article_list %}
                <div>
                    <a href="{% url 'articleapp:detail' pk=article.pk %}" style="text-decoration-line: none;">
                        {% include 'snippets/article_card.html' with article=article %}
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div>
                <h4>No article yet... Please tell us your ideas.</h4>
            </div>
        {% endif %}
    </div>

    {% include 'snippets/article_pagination.html' with page_obj=page_obj %}

    <script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}