{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/articleapp.css' %}">
    {% endblock %}

    <div style="max-width: 500px; margin: 4rem auto">
        <div class="mb-2">
            <h4 class="articleapp_main_title">Edit Article</h4>
        </div>
        <div class="text-white">
            <form action="{% url 'articleapp:update' pk=target_article.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-light col-3">
            </form>
        </div>
    </div>

{% endblock %}